<launch>

	<param name="/use_sim_time" value="true"/>

	<node name="send_clean_node01" pkg="send_goal_robot01" type="SendCleanObs01" output="screen"/>
	<node name="send_clean_node02" pkg="send_goal_robot02" type="SendCleanObs02" output="screen"/>
	<node name="send_clean_node03" pkg="send_goal_robot03" type="SendCleanObs03" output="screen"/>
	
</launch>
